<table class="table-container">
  <!-- Cabeçalho da Tabela -->
  <thead>
    <tr>
      <th>Identicação</th>
      <th>Palavra</th>
      <th>Tamanho</th>
    </tr>
  </thead>

  <!-- Corpo da Tabela -->
  <tbody>
    <tr *ngFor="let word of words; trackBy: trackByWordId">
      <td>{{ word.wordId }}</td>
      <td>{{ word.name }}</td>
      <td>{{ word.size }}</td>
    </tr>
  </tbody>

  <div class="botoes">
    <!-- Controles de Paginação -->
    <button *ngIf="currentPage > 1" (click)="onPageChange(1)">Primeira</button>
    <button *ngIf="lastPage > 10" (click)="onPageChange(lastPage)">Última</button>
    <button *ngIf="currentPage < lastPage || currentPage == lastPage" (click)="onPageChange(currentPage + 1)">Próxima</button>

    <!-- Controles para Seleção de Itens por Página -->
    <select title="Selecione a quantidade de itens por página" (change)="onItemsPerPageChange($event)">
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
    </select>
  </div>

</table>
