.main-content {
  padding-top: 3%;
  justify-content: center;
  align-items: center;
  display: flexbox;
  width: 80%;
  margin: 0 auto;
}

.title {
  display: flex;
  justify-content: center;
}

.description {
  display: flex;
  justify-content: center;
}
