
<form [formGroup]="deletarForm" (ngSubmit)="onSubmit()"  *ngIf="!wordFounded">
  <label for="id">
    <h2>Excluir:</h2>
  </label>
  <div>
    <input type="text" placeholder="Busque a palavra a ser excluida" id="name" formControlName="name">
    <button class="consulta" type="submit">Consultar Palavra</button>
  </div>
</form>

<form [formGroup]="deletarForm" *ngIf="wordFounded">
  <label for="id">
    <h2>Deseja realmente excluir a palavra encontrada?</h2>
  </label>
  <div class="confirmacao">
    <button class="warn" type="submit" (click)="onDelete()">Sim</button>
    <button class="primary" type="submit" (click)="onBack()">Não</button>
  </div>
</form>

<app-wordcardresult *ngIf="wordFounded" [word]="wordFounded"></app-wordcardresult>
