<div class="titulo">
  <h1>Gerenciamento de Palavras</h1>
</div>

<div class="botoes">
  <button mat-raised-button color="primary" routerLink="/adicionar">Adicionar Palavra</button>
  <button mat-raised-button color="primary" routerLink="/consultarId">Consultar por ID</button>
  <button mat-raised-button color="primary" routerLink="/consultarPalavra">Consultar por Palavra</button>
  <button mat-raised-button color="primary" routerLink="/editar">Editar Palavra</button>
  <button mat-raised-button color="warn" routerLink="/excluir">Excluir Palavra</button>
</div>

<app-wordresult></app-wordresult>

<router-outlet></router-outlet>
