<div class="titulo">
  <h1>Gerenciamento de Palavras</h1>
</div>

<div class="botoes">
  <button mat-raised-button color="primary" routerLink="/adicionar" (click)="adicionarPalavra()">Adicionar Palavra</button>
  <button mat-raised-button color="primary" routerLink="/consultarId" (click)="consultarPorId()">Consultar por ID</button>
  <button mat-raised-button color="primary" routerLink="/consultarPalavra" (click)="consultarPorPalavra()">Consultar por Palavra</button>
  <button mat-raised-button color="primary" routerLink="/editar" (click)="editarPalavra()">Editar Palavra</button>
  <button mat-raised-button color="warn" routerLink="/excluir" (click)="excluirPalavra()">Excluir Palavra</button>
</div>

<app-wordresult></app-wordresult>

<router-outlet></router-outlet>
