mat-card {
  margin: 22px;
  padding: 10px;
  background-color: #fff;
  /* Define a cor de fundo do card como branco */
  color: #333;
  /* Define a cor do texto como preto */
  text-align: center;
}

table {
  /* Cobrir 70% da tela */
  border-collapse: collapse;
  /* Colapsar as bordas da tabela */
  margin: 0 auto;
  /* Centralizar a tabela na tela */

  th,
  td {
    border: 1px solid gray;
    /* Adicionar bordas delineadas */
    padding: 8px;
    /* Espaçamento interno */
    text-align: center;
    /* Alinhar o texto à esquerda */
  }

  th {
    background-color: #f2f2f2;
    /* Cor de fundo do cabeçalho */
    font-size: 17px;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
    /* Cor de fundo das linhas pares */
  }

  tr:hover {
    background-color: #f1f1f1;
    /* Cor de fundo ao passar o mouse */
  }
}
