<!--
<h1>Gerenciamento de Palavras</h1>

<button mat-raised-button color="primary" (click)="adicionarPalavra()">Adicionar Palavra</button>
<button mat-raised-button color="primary" (click)="consultarPorId()">Consultar por ID</button>
<button mat-raised-button color="primary" (click)="consultarPorPalavra()">Consultar por Palavra</button>
<button mat-raised-button color="primary" (click)="editarPalavra()">Editar Palavra</button>
<button mat-raised-button color="warn" (click)="excluirPalavra()">Excluir Palavra</button>
 -->
