<div class="titulo">
  <h1>Filtro de Palavras por Quantidade de Letras</h1>
</div>
<!-- TODO
  FORM PARA REALIZAR A PESQUISA DE ACORDO COM A NECESSIDADE DO USUÁRIO

  FILTRO PARA COLOCAR APENAS NÚMEROS
 -->
<div class="general">
  <div class="btnSlt">
    <button *ngIf="currentPage > 1" (click)="onPageChange(1)">Primeira</button>
    <button *ngIf="currentPage <= lastPage && currentPage != 1" (click)="onPageChange(currentPage - 1)">Anterior</button>
    <button *ngIf="currentPage < lastPage || currentPage != lastPage" (click)="onPageChange(currentPage + 1)">Próxima</button>
    <button *ngIf="currentPage != 1 && currentPage != lastPage" (click)="onPageChange(lastPage)">Última</button>

    <select title="Selecione a quantidade de itens por página" (change)="onItemsPerPageChange($event)">
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
    </select>
  </div>
  <table>
    <thead>
      <tr>
        <th>Identicação</th>
        <th>Palavra</th>
        <th>Tamanho</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let word of words;">
        <td>{{ word.wordId }}</td>
        <td>{{ word.name }}</td>
        <td>{{ word.size }}</td>
      </tr>
    </tbody>
  </table>
</div>
