.bem-vindo {
  padding-left: 2%;
  padding-right: 3%;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.palavras {
  a {
    text-decoration: none;
    color: inherit;
  }
}

.login {
  margin-left: auto;
  background-color: var(--primary);
  color: white;
  padding: 8px;
  border: 0;
  border-radius: 50%;
  font-size: 20px;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  padding-right: 3%;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
}
