<mat-toolbar id="toolbar" color="primary">
  <span>
    <a routerLink="/">Bem-vindo</a>
  </span>
  <span>
    <a mat-button routerLink="/palavras">Palavras</a>
  </span>
  <span>
    <a mat-button routerLink="/filtro">Filtrar</a>
  </span>
  <!--   <button class="login" mat-icon-button aria-label="Login">
    <a routerLink="/login"><i class="fa fa-user" aria-hidden="true"></i></a>
  </button>
  -->
</mat-toolbar>

<div>
  <router-outlet></router-outlet>
</div>

<mat-toolbar class="footer">
  <span>&copy; Isaiah 96. Todos os direitos reservados.</span>
</mat-toolbar>
