<mat-toolbar color="primary">
  <span class="bem-vindo">
    <a routerLink="/">Bem-vindo</a>
  </span>
  <span class="palavras">
    <a mat-button routerLink="/palavras">Palavras</a>
  </span>
  <!--   <button class="login" mat-icon-button aria-label="Login">
    <a routerLink="/login"><i class="fa fa-user" aria-hidden="true"></i></a>
  </button> -->
</mat-toolbar>

<body>
  <router-outlet></router-outlet>
</body>

<footer class="footer">
  <div class="footer-content">
    <p>&copy; Isaiah 96. Todos os direitos reservados.</p>
  </div>
</footer>
